body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4A00E0;
  color: white;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.title {
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1;
}

.history-button {
  background-color: #4A00E0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.history-button:hover {
  background-color: #8A2BE2;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.calculation-form, .results {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.calculation-form h2, .results h2 {
  margin-top: 0;
}

.calculation-form input, .results input {
  width: 100%;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculate-button {
  background-color: #4A00E0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: #8A2BE2;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results p {
  font-size: 1.2em;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.history {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  display: none;
}

.history h2 {
  margin-top: 0;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history ul li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-history-button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.clear-history-button:hover {
  background-color: #C0392B;
}

/* Media Queries para responsive design */
@media (max-width: 600px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      height: 30px;
      width: 100%;
  }

  .title {
      font-size: 1.2em;
      margin: 10px 0;
  }

  .history-button {
      padding: 5px 10px;
  }

  .main {
      padding: 10px;
  }

  .calculation-form, .results {
      padding: 15px;
  }

  .calculate-button {
      padding: 5px 10px;
  }

  .results p {
      font-size: 1em;
  }
}
